@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@

<!DOCTYPE html>

<html lang="en" ng-app="mTakaAPP">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mTaka - Mobile Financial Solution</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/favicon-96x96.png">

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    @*@Styles.Render("~/Content/css")*@
    @*<link rel="stylesheet" href="~/Content/ionicons.css">*@
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/angular-toastr.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/bootstrap-select.css">
    <link rel="stylesheet" href="~/Content/bootstrap-switch.css">
    <link rel="stylesheet" href="~/Content/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    <link rel="stylesheet" href="~/Content/fullcalendar.css">
    <link rel="stylesheet" href="~/Content/leaflet.css">
    <link rel="stylesheet" href="~/Content/angular-progress-button-styles.min.css">
    <link rel="stylesheet" href="~/Content/chartist.min.css">
    <link rel="stylesheet" href="~/Content/morris.css">
    <link rel="stylesheet" href="~/Content/ion.rangeSlider.css">
    <link rel="stylesheet" href="~/Content/ion.rangeSlider.skinFlat.css">
    <link rel="stylesheet" href="~/Content/textAngular.css">
    <link rel="stylesheet" href="~/Content/xeditable.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/select.css">
    <link rel="stylesheet" href="app/auth.css"> @*salekin added*@
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <link href="~/app/main.css" rel="stylesheet" />
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body>
    @*<div class="body-bg"></div>
        <main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">*@
    <main>
        @*<ba-sidebar></ba-sidebar>
        <page-top></page-top>*@

        @RenderBody()

        @*<footer class="al-footer clearfix">
            <div class="al-footer-main clearfix">
                <div class="al-copy">mTaka @@ @DateTime.Now.Year</div>
            </div>
        </footer>

        <back-top></back-top>*@

        <back-top></back-top>
    </main>

    <div id="preloader" ng-show="!$pageFinishedLoading">
        <div></div>
    </div>

    <script type="text/javascript">
    var EmptybaseUrl = '';
    var baseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true))

    EmptybaseUrl = baseUrl.replace(/\//g, '');
    if (EmptybaseUrl.length > 0) {
        window.applicationBaseUrl = baseUrl;
    }
    else {

        // if you need to include host and port in the url, use this:
        baseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode( new Uri(
                        new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)),
                        Url.Content("~/")
                        ).ToString(), true))

        window.applicationBaseUrl = baseUrl;
    }
    </script>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.easing.js"></script>
    <script src="~/Scripts/jquery.easypiechart.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/amcharts.js"></script>
    <script src="~/Scripts/responsive.min.js"></script>
    <script src="~/Scripts/serial.js"></script>
    <script src="~/Scripts/funnel.js"></script>
    <script src="~/Scripts/pie.js"></script>
    <script src="~/Scripts/gantt.js"></script>
    <script src="~/Scripts/amstock.js"></script>
    <script src="~/Scripts/ammap.js"></script>
    <script src="~/Scripts/worldLow.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui-form-validation.js"></script>
    <script src="~/Scripts/angular-messages.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/jquery.slimscroll.js"></script>
    <script src="~/Scripts/angular-slimscroll.js"></script>
    <script src="~/Scripts/smart-table.js"></script>
    <script src="~/Scripts/angular-toastr.tpls.js"></script>
    <script src="~/Scripts/angular-touch.js"></script>
    <script src="~/Scripts/sortable.js"></script>
    <script src="~/Scripts/dropdown.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/bootstrap-switch.js"></script>
    <script src="~/Scripts/bootstrap-tagsinput.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    <script src="~/Scripts/leaflet-src.js"></script>
    <script src="~/Scripts/angular-progress-button-styles.min.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/angular-chart.js"></script>
    <script src="~/Scripts/chartist.min.js"></script>
    <script src="~/Scripts/angular-chartist.js"></script>
    <script src="~/Scripts/eve.js"></script>
    <script src="~/Scripts/raphael.min.js"></script>
    <script src="~/Scripts/mocha.js"></script>
    <script src="~/Scripts/morris.js"></script>
    <script src="~/Scripts/angular-morris-chart.min.js"></script>
    <script src="~/Scripts/ion.rangeSlider.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/rangy-core.js"></script>
    <script src="~/Scripts/rangy-classapplier.js"></script>
    <script src="~/Scripts/rangy-highlighter.js"></script>
    <script src="~/Scripts/rangy-selectionsaverestore.js"></script>
    <script src="~/Scripts/rangy-serializer.js"></script>
    <script src="~/Scripts/rangy-textrange.js"></script>
    <script src="~/Scripts/textAngular.js"></script>
    <script src="~/Scripts/textAngular-sanitize.js"></script>
    <script src="~/Scripts/textAngularSetup.js"></script>
    <script src="~/Scripts/xeditable.js"></script>
    <script src="~/Scripts/jstree.js"></script>
    <script src="~/Scripts/ngJsTree.js"></script>
    <script src="~/Scripts/select.js"></script>
    <script src="~/Scripts/angular-idle.min.js"></script>
    <script src="~/Scripts/idle.js"></script>
    <script src="~/Scripts/checklist-model.js"></script>
    <script src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart','orgchart']}]}"></script>
    <!-- endbower -->
    <!-- endbuild -->
    @* <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>*@

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!--Theme Scripts Start-->

    <script src="~/app/pages/pages.module.js"></script>
    <script src="~/app/theme/theme.module.js"></script>
    <script src="~/app/theme/components/components.module.js"></script>
    <script src="~/app/theme/inputs/inputs.module.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/theme/theme.config.js"></script>
    <script src="~/app/theme/theme.configProvider.js"></script>
    <script src="~/app/theme/theme.constants.js"></script>
    <script src="~/app/theme/theme.run.js"></script>
    <script src="~/app/theme/theme.service.js"></script>
    <script src="~/app/theme/components/toastrLibConfig.js"></script>
    <script src="~/app/theme/directives/htmlCompiler.js"></script>
    <script src="~/app/theme/directives/animatedChange.js"></script>
    <script src="~/app/theme/directives/autoExpand.js"></script>
    <script src="~/app/theme/directives/autoFocus.js"></script>
    <script src="~/app/theme/directives/includeWithScope.js"></script>
    <script src="~/app/theme/directives/ionSlider.js"></script>
    <script src="~/app/theme/directives/ngFileSelect.js"></script>
    <script src="~/app/theme/directives/scrollPosition.js"></script>
    <script src="~/app/theme/directives/trackWidth.js"></script>
    <script src="~/app/theme/directives/zoomIn.js"></script>
    <script src="~/app/theme/directives/selectpicker.directive.js"></script>
    <script src="~/app/theme/services/baProgressModal.js"></script>
    <script src="~/app/theme/services/baUtil.js"></script>
    <script src="~/app/theme/services/fileReader.js"></script>
    <script src="~/app/theme/services/preloader.js"></script>
    <script src="~/app/theme/services/stopableInterval.js"></script>
    <script src="~/app/theme/components/backTop/backTop.directive.js"></script>
    <script src="~/app/theme/services/permissionService.js"></script>   @*added for role permission*@
    <script src="~/app/theme/directives/orgchart.js"></script>

    <script src="~/app/theme/services/tokenServices.js"></script>
    <script src="~/app/theme/services/FunctionIdService.js"></script>

    <script src="~/app/theme/components/baSidebar/baSidebar.directive.js"></script>
    <script src="~/app/theme/components/baSidebar/baSidebar.service.js"></script>
    <script src="~/app/theme/components/baSidebar/BaSidebarCtrl.js"></script>
    <script src="~/app/theme/components/baSidebar/baSidebarHelpers.directive.js"></script>
    <script src="~/app/theme/components/baPanel/baPanel.directive.js"></script>
    <script src="~/app/theme/components/baPanel/baPanel.service.js"></script>
    <script src="~/app/theme/components/baPanel/baPanelBlur.directive.js"></script>
    <script src="~/app/theme/components/baPanel/baPanelBlurHelper.service.js"></script>
    <script src="~/app/theme/components/baPanel/baPanelSelf.directive.js"></script>
    <script src="~/app/theme/components/baWizard/baWizard.directive.js"></script>
    <script src="~/app/theme/components/baWizard/baWizardCtrl.js"></script>
    <script src="~/app/theme/components/baWizard/baWizardStep.directive.js"></script>
    <script src="~/app/theme/components/contentTop/contentTop.directive.js"></script>
    <script src="~/app/theme/components/msgCenter/msgCenter.directive.js"></script>
    <script src="~/app/theme/components/msgCenter/MsgCenterCtrl.js"></script>
    <script src="~/app/theme/components/pageTop/pageTop.directive.js"></script>
    <script src="~/app/theme/components/progressBarRound/progressBarRound.directive.js"></script>
    <script src="~/app/theme/components/widgets/widgets.directive.js"></script>
    <script src="~/app/theme/filters/image/appImage.js"></script>
    <script src="~/app/theme/filters/image/kameleonImg.js"></script>
    <script src="~/app/theme/filters/image/profilePicture.js"></script>
    <script src="~/app/theme/filters/text/removeHtml.js"></script>
    <script src="~/app/theme/inputs/baSwitcher/baSwitcher.js"></script>
    <script src="~/app/theme/components/backTop/lib/jquery.backTop.min.js"></script>
    <script src="~/app/theme/directives/hasPermission.js"></script>

    <script src="~/app/theme/components/pageTop/pageTopCtrl.js"></script> @*added by Salekin - 21.01.2018*@

    <!--Theme Scripts End-->
    <!--Page Scripts Start-->

    <script src="~/Scripts/ngStorage.min.js"></script>
    @*<script src="~/Scripts/angular-local-storage.min.js"></script>*@

    <script src="~/app/pages/config/config.module.js"></script>
    <script src="~/app/pages/config/routeChange.js"></script>


    <script src="~/app/pages/services/services.module.js"></script>
    <script src="~/app/pages/services/localStorage.js"></script>



    <script src="~/app/pages/authSignIn/authSignIn.module.js"></script>
    <script src="~/app/pages/authSignIn/authSignInCtrl.js"></script>

    <script src="~/app/pages/main/main.module.js"></script>
    <script src="~/app/pages/main/mainCtrl.js"></script>

    <script src="~/app/pages/CusCategory/CusCategory.module.js"></script>
    <script src="~/app/pages/CusCategory/CusCategoryCtrl.js"></script>

    <script src="~/app/pages/CusType/CusType.module.js"></script>
    <script src="~/app/pages/CusType/CusTypeCtrl.js"></script>

    <script src="~/app/pages/AccCategory/AccCategory.module.js"></script>
    <script src="~/app/pages/AccCategory/AccCategoryCtrl.js"></script>

    <script src="~/app/pages/AccType/AccType.module.js"></script>
    <script src="~/app/pages/AccType/AccTypeCtrl.js"></script>

    <script src="~/app/pages/DefineService/DefineService.module.js"></script>
    <script src="~/app/pages/DefineService/DefineServiceCtrl.js"></script>

    <script src="~/app/pages/StatusWiseService/StatusWiseService.module.js"></script>
    <script src="~/app/pages/StatusWiseService/StatusWiseServiceCtrl.js"></script>

    <script src="~/app/pages/ChannelAccProfile/ChannelAccProfile.module.js"></script>
    <script src="~/app/pages/ChannelAccProfile/ChannelAccProfileCtrl.js"></script>

    <script src="~/app/pages/ManagerCategory/ManagerCategory.module.js"></script>
    <script src="~/app/pages/ManagerCategory/ManagerCategoryCtrl.js"></script>

    <script src="~/app/pages/ManagerType/ManagerType.module.js"></script>
    <script src="~/app/pages/ManagerType/ManagerTypeCtrl.js"></script>

    <script src="~/app/pages/CustomerAccProfile/CustomerAccProfile.module.js"></script>
    <script src="~/app/pages/CustomerAccProfile/CustomerAccProfileCtrl.js"></script>

    <script src="~/app/pages/ManagerAccProfile/ManagerAccProfile.module.js"></script>
    <script src="~/app/pages/ManagerAccProfile/ManagerAccProfileCtrl.js"></script>

    <script src="~/app/pages/AccInfo/AccInfo.module.js"></script>
    <script src="~/app/pages/AccInfo/AccInfoCtrl.js"></script>


    <script src="~/app/pages/ErrorLog/ErrorLog.module.js"></script>
    <script src="~/app/pages/ErrorLog/ErrorLogCtrl.js"></script>

    <script src="~/app/pages/ErrorLog/ErrorLog.module.js"></script>
    <script src="~/app/pages/ErrorLog/ErrorLogCtrl.js"></script>

    <script src="~/app/pages/AccStatusSetup/AccStatusSetup.module.js"></script>
    <script src="~/app/pages/AccStatusSetup/AccStatusSetupCtrl.js"></script>

    <script src="~/app/pages/AreaInfo/AreaInfo.module.js"></script>
    <script src="~/app/pages/AreaInfo/AreaInfoCtrl.js"></script>

    <script src="~/app/pages/CityInfo/CityInfo.module.js"></script>
    <script src="~/app/pages/CityInfo/CityInfoCtrl.js"></script>

    <script src="~/app/pages/CountryInfo/CountryInfo.module.js"></script>
    <script src="~/app/pages/CountryInfo/CountryInfoCtrl.js"></script>

    <script src="~/app/pages/CurrencyInfo/CurrencyInfo.module.js"></script>
    <script src="~/app/pages/CurrencyInfo/CurrencyInfoCtrl.js"></script>

    <script src="~/app/pages/DistrictInfo/DistrictInfo.module.js"></script>
    <script src="~/app/pages/DistrictInfo/DistrictInfoCtrl.js"></script>

    <script src="~/app/pages/DivisionInfo/DivisionInfo.module.js"></script>
    <script src="~/app/pages/DivisionInfo/DivisionInfoCtrl.js"></script>

    <script src="~/app/pages/PSInfo/PSInfo.module.js"></script>
    <script src="~/app/pages/PSInfo/PSInfoCtrl.js"></script>

    <script src="~/app/pages/UpazilaInfo/UpazilaInfo.module.js"></script>
    <script src="~/app/pages/UpazilaInfo/UpazilaInfoCtrl.js"></script>

    <script src="~/app/pages/BranchInfo/BranchInfo.module.js"></script>
    <script src="~/app/pages/BranchInfo/BranchInfoCtrl.js"></script>

    <script src="~/app/pages/AccLimit/AccLimit.module.js"></script>
    <script src="~/app/pages/AccLimit/AccLimitCtrl.js"></script>

    <script src="~/app/pages/FundIn/FundIn.module.js"></script>
    <script src="~/app/pages/FundIn/FundInCtrl.js"></script>

    <script src="~/app/pages/FundOut/FundOut.module.js"></script>
    <script src="~/app/pages/FundOut/FundOutCtrl.js"></script>

    <script src="~/app/pages/PostOffice/PostOffice.module.js"></script>
    <script src="~/app/pages/PostOffice/PostOfficeCtrl.js"></script>


    <script src="~/app/pages/UnionInfo/UnionInfo.module.js"></script>
    <script src="~/app/pages/UnionInfo/UnionInfoCtrl.js"></script>

    <script src="~/app/pages/BankInfo/BankInfo.module.js"></script>
    <script src="~/app/pages/BankInfo/BankInfoCtrl.js"></script>

    <script src="~/app/pages/CashIn/CashIn.module.js"></script>
    <script src="~/app/pages/CashIn/CashInCtrl.js"></script>

    <script src="~/app/pages/CashOut/CashOut.module.js"></script>
    <script src="~/app/pages/CashOut/CashOutCtrl.js"></script>

    <script src="~/app/pages/Report/Report.module.js"></script>
    <script src="~/app/pages/Report/ReportCtrl.js"></script>

    <script src="~/app/pages/ActivityLog/ActivityLog.module.js"></script>
    <script src="~/app/pages/ActivityLog/ActivityLogCtrl.js"></script>

    <script src="~/app/pages/CusTypeWiseService/CusTypeWiseService.module.js"></script>
    <script src="~/app/pages/CusTypeWiseService/CusTypeWiseServiceCtrl.js"></script>

    <script src="~/app/pages/TransactionRules/TransactionRules.module.js"></script>
    <script src="~/app/pages/TransactionRules/TransactionRulesCtrl.js"></script>

    <script src="~/app/pages/NftAuthorization/NftAuthorization.module.js"></script>
    <script src="~/app/pages/NftAuthorization/NftAuthorizationCtrl.js"></script>

    <script src="~/app/pages/FtAuthorization/FtAuthorization.module.js"></script>
    <script src="~/app/pages/FtAuthorization/FtAuthorizationCtrl.js"></script>

    <script src="~/app/pages/Ledger/Ledger.module.js"></script>
    <script src="~/app/pages/Ledger/LedgerCtrl.js"></script>

    <script src="~/app/pages/UtilityServiceBillSetup/UtilityServiceBillSetup.module.js"></script>
    <script src="~/app/pages/UtilityServiceBillSetup/UtilityServiceBillSetupCtrl.js"></script>

    <script src="~/app/pages/CommonService/CommonService.module.js"></script>
    <script src="~/app/pages/CommonService/CommonServiceCtrl.js"></script>

    <script src="~/app/pages/UtilityServiceBillReceive/UtilityServiceBillReceive.module.js"></script>
    <script src="~/app/pages/UtilityServiceBillReceive/UtilityServiceBillReceiveCtrl.js"></script>

    <script src="~/app/pages/UtilityServiceBillReporting/UtilityServiceBillReporting.modul.js"></script>
    <script src="~/app/pages/UtilityServiceBillReporting/UtilityServiceBillReportingCtrl.js"></script>

    <script src="~/app/pages/TransactionTemplate/TransactionTemplate.module.js"></script>
    <script src="~/app/pages/TransactionTemplate/TransactionTemplateCtrl.js"></script>

    <script src="~/app/pages/ReportConfigMaster/ConfigMaster.module.js"></script>
    <script src="~/app/pages/ReportConfigMaster/ConfigMasterCtrl.js"></script>

    <script src="~/app/pages/ReportConfigParam/ConfigParam.module.js"></script>
    <script src="~/app/pages/ReportConfigParam/ConfigParamCtrl.js"></script>

    <script src="~/app/pages/PasswordChange/PasswordChange.module.js"></script>
    <script src="~/app/pages/PasswordChange/PasswordChangeCtrl.js"></script>

    <script src="~/app/pages/GLChart/GLChart.module.js"></script>
    <script src="~/app/pages/GLChart/GLChartCtrl.js"></script>

    <script src="~/app/pages/EOD/EOD.module.js"></script>
    <script src="~/app/pages/EOD/EODCtrl.js"></script>

    <script src="~/app/pages/IndPerformanceMonitoring/IndPerformanceMonitoring.module.js"></script>
    <script src="~/app/pages/IndPerformanceMonitoring/IndPerformanceMonitoringCtrl.js"></script>

    <script src="~/app/pages/Organogram/Organogram.module.js"></script>
    <script src="~/app/pages/Organogram/OrganogramCtrl.js"></script>

    <script src="~/app/pages/ChargeRule/ChargeRule.module.js"></script>
    <script src="~/app/pages/ChargeRule/ChargeRuleCtrl.js"></script>

    <script src="~/app/pages/FundTransfer/FundTransfer.module.js"></script>
    <script src="~/app/pages/FundTransfer/FundTransferCtrl.js"></script>

    <script src="~/app/pages/AccTypeWiseTarget/AccTypeWiseTarget.module.js"></script>
    <script src="~/app/pages/AccTypeWiseTarget/AccTypeWiseTargetCtrl.js"></script>

    <script src="~/app/pages/PerformanceMonitoring/PerformanceMonitoring.module.js"></script>
    <script src="~/app/pages/PerformanceMonitoring/PerformanceMonitoringCtrl.js"></script>

    <script src="~/app/pages/TopPerformer/TopPerformer.module.js"></script>
    <script src="~/app/pages/TopPerformer/TopPerformerCtrl.js"></script>

    <script src="~/app/pages/PromoCodeConfig/PromoCodeConfig.module.js"></script>
    <script src="~/app/pages/PromoCodeConfig/PromoCodeConfigCtrl.js"></script>

    <script src="~/app/pages/UserProfile/UserProfile.module.js"></script>
    <script src="~/app/pages/UserProfile/UserProfileCtrl.js"></script>

    <script src="~/app/pages/CommissionSetup/CommissionSetup.module.js"></script>
    <script src="~/app/pages/CommissionSetup/CommissionSetupCtrl.js"></script>

    <script src="~/app/pages/SpecialOffer/SpecialOffer.module.js"></script>
    <script src="~/app/pages/SpecialOffer/SpecialOfferCtrl.js"></script>

    <script src="~/app/pages/Dashboard/Dashboard.module.js"></script>
    <script src="~/app/pages/Dashboard/DashboardCtrl.js"></script>

    <script src="~/app/pages/FileUpload/FileUpload.module.js"></script>
    <script src="~/app/pages/FileUpload/FileUploadCtrl.js"></script>

    <!--Page Scripts End-->
    <!-- endinject -->
    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->



    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>


    @RenderSection("scripts", required: false)
</body>
</html>